<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <div id="wrapper">
            <p>Node.js server to collect HID RFID card info.</p>
            <p>-----------------------------</p>
            <h3>Key Card value</h3>
            <p>Card Code: <b id="cc"><%= cardCode %></b></p>
            <p>Facility Code: <b id="fc"><%= facilityCode %></b></p>
            <p>Binary: <b id="bn"><%= binary %></b></p>
            <p>-----------------------------</p>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect();
            socket.on('/rfid', function(payload){
                console.log('RFID', payload);
                document.getElementById('bn').innerHTML = payload.binary;
                document.getElementById('cc').innerHTML = payload.cardCode;
                document.getElementById('fc').innerHTML = payload.facilityCode;
            });
        </script>
    </body>
</html>
